<!DOCTYPE html>
<%#include "contact.h" %>
<% tfetch(Contact, contact); %>
<html>
<head>
  <meta charset="UTF-8">
  <title><%= controller()->name() + ": " + controller()->activeAction() %></title>
</head>
<body>
<p style="color: red"><%=$ error %></p>
<p style="color: green"><%=$ notice %></p>

<h1>Showing Contact</h1>
<dt>ID</dt><dd><%= contact.id() %></dd><br />
<dt>Phone</dt><dd><%= contact.phone() %></dd><br />
<dt>Email</dt><dd><%= contact.email() %></dd><br />
<dt>Location</dt><dd><%= contact.location() %></dd><br />
<dt>Latitude</dt><dd><%= contact.latitude() %></dd><br />
<dt>Longitude</dt><dd><%= contact.longitude() %></dd><br />

<%== linkTo("Edit", urla("save", contact.id())) %> |
<%== linkTo("Back", urla("index")) %>

</body>
</html>
