<!DOCTYPE html>
<%#include "featured.h" %>
<% tfetch(QVariantMap, featured); %>
<html>
<head>
  <meta charset="UTF-8">
  <title><%= controller()->name() + ": " + controller()->activeAction() %></title>
</head>
<body>
<p style="color: red"><%=$ error %></p>
<p style="color: green"><%=$ notice %></p>

<h1>New Featured</h1>

<%== formTag(urla("create"), Tf::Post) %>
  <p>
    <label>Image<br /><input name="featured[image]" value="<%= featured["image"] %>" /></label>
  </p>
  <p>
    <label>Html<br /><input name="featured[html]" value="<%= featured["html"] %>" /></label>
  </p>
  <p>
    <input type="submit" value="Create" />
  </p>
</form>

<%== linkTo("Back", urla("index")) %>

</body>
</html>
