<!DOCTYPE html>
<%#include "featured.h" %>
<% tfetch(Featured, featured); %>
<html>
<head>
  <meta charset="UTF-8">
  <title><%= controller()->name() + ": " + controller()->activeAction() %></title>
</head>
<body>
<p style="color: red"><%=$ error %></p>
<p style="color: green"><%=$ notice %></p>

<h1>Showing Featured</h1>
<dt>ID</dt><dd><%= featured.id() %></dd><br />
<dt>Image</dt><dd><%= featured.image() %></dd><br />
<dt>Html</dt><dd><%= featured.html() %></dd><br />

<%== linkTo("Edit", urla("save", featured.id())) %> |
<%== linkTo("Back", urla("index")) %>

</body>
</html>
