<!DOCTYPE html>
<%#include "service.h" %>
<% tfetch(QVariantMap, service); %>
<html>
<head>
  <meta charset="UTF-8">
  <title><%= controller()->name() + ": " + controller()->activeAction() %></title>
</head>
<body>
<p style="color: red"><%=$ error %></p>
<p style="color: green"><%=$ notice %></p>

<h1>New Service</h1>

<%== formTag(urla("create"), Tf::Post) %>
  <p>
    <label>Icon<br /><input name="service[icon]" value="<%= service["icon"] %>" /></label>
  </p>
  <p>
    <label>Name<br /><input name="service[name]" value="<%= service["name"] %>" /></label>
  </p>
  <p>
    <label>Subline<br /><input name="service[subline]" value="<%= service["subline"] %>" /></label>
  </p>
  <p>
    <input type="submit" value="Create" />
  </p>
</form>

<%== linkTo("Back", urla("index")) %>

</body>
</html>
