<%#include "contact.h"%>
<% tfetch(Contact, contact) %>
<div class="footer-top py-5 text-center">
  <div class="container py-xl-5 py-lg-3">
    <h2 class="text-white mb-4">Select Your Dream Property</h2>
    <h5 class="text-white mb-sm-5 mb-4 pb-sm-5 pb-4">Contact Us</h5>
    <i class="fas fa-map-marker-alt"></i>
  </div>
</div>
<!-- //footer top -->
<!-- footer -->
<div class="footer py-5 text-center">
  <div class="container py-xl-5 py-lg-3">
    <div class="address row mb-4">
      <div class="col-lg-4 address-grid">
        <div class="row address-info">
          <div class="col-md-3 address-left text-center">
            <i class="far fa-envelope"></i>
          </div>
          <div class="col-md-9 address-right text-left">
            <h6 class="ad-info text-uppercase mb-2">Email</h6>
            <p>
              <a href="mailto:example@email.com"> mail <%= contact.email() %></a>
            </p>
    
          </div>
        </div>
      </div>
      <div class="col-lg-4 address-grid my-lg-0 my-4">
        <div class="row address-info">
          <div class="col-md-3 address-left text-center">
            <i class="fas fa-mobile-alt"></i>
          </div>
          <div class="col-md-9 address-right text-left">
            <h6 class="ad-info text-uppercase mb-2">call us</h6>
            <p><%= contact.phone() %></p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 address-grid">
        <div class="row address-info">
          <div class="col-md-3 address-left text-center">
            <i class="far fa-map"></i>
          </div>
          <div class="col-md-9 address-right text-left">
            <h6 class="ad-info text-uppercase mb-2">Address</h6>
            <p><%= contact.location() %></p>
          </div>
        </div>
      </div>
    </div>
    <!-- social icons footer -->
    <div class="w3social-icons-footer text-center pt-sm-5 pt-3">
      <ul>
        <li>
          <a href="<%= contact.facebook() %>" class="rounded-circle">
            <i class="fab fa-facebook-f"></i>
          </a>
        </li>
        <li class="px-2">
          <a href="<%= contact.youtube() %>" class="rounded-circle">
            <i class="fab fa-youtube"></i>
          </a>
        </li>
      
      </ul>
    </div>
    <!-- //social icons footer -->
  </div>
</div>
